@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "./tailwind/base.scss";
@import "./tailwind/components.scss";
@import "./tailwind/utilities.scss";

@import './scss/animations.scss';
@import './normalize.scss';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
}

html {
    font-size: 10px;
    @apply font-montserrat;
}


.locked {
    overflow: hidden;
}