
@layer utilities {

  
    .transitioned {
        transition: 0.25s ease
    }

    .text-cut-ellipsis {
        display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
    }

   
}
